/* @the 1040px grid
********************************************************************************************
********************************************************************************************/

.container{
width: 100%;
max-width: 1280px;
margin: 0 auto 0 auto;
padding:0 20px;
overflow:hidden;
position:relative;
}

.containermenu{
width: 100%;
max-width: 1280px;
margin: 0 auto 0 auto;
padding:0 0;
height:56px;
position:relative;
}

#header .container{ overflow:visible !important; display:block; float:none;}

.generalresp{
width: 1040px !important;
max-width: 1040px;
min-width: 1040px !important;
}

.generalresp_alt{
width: 1000px !important;
max-width: 1000px;
min-width: 1000px !important;
margin-left:20px !important;
margin-right:20px !important;
padding-left:0 !important;
padding-right:0 !important;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.twocol {
width: 10.75%;
margin-left:5%;
float:left;
}

.threecol {
width: 23.3%;
margin-left:2.2%;
float:left;
}

#footer .threecol {
width: 22.7%;
margin-left:3%;
margin-bottom:0px;
}

.fourcol {
width: 33%;
margin:0 0 0 0;
padding:0;
float:left;
position:relative;
}

.fifthcol {
width: 16%;
padding:0;
margin:0 0 0 4%;
float:left;
margin-bottom:40px;
}

.eightcol {
width: 64%;
padding-right:0;
padding-left:0;
margin:0 3% 0 0;
float:left;
}

.sixcol {
width:47%;
margin-left:2.8%;
}

.twelvecol {
width: 90%;
float: left;
}

object, embed {
max-width: 100%;
}



img {
    height: auto;
    max-width:100%;
}

/* no-responsive specials */

.generalresp #header h1{ max-width:300px;}
.generalresp #header h1 img{ width:100%;}

.generalresp .shadow-inset2,
.generalresp a.sliderlink{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}